<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
	<div class="col-md-8 col-sm-8 col-lg-8 col-xs-12">
		<h3>Fale Conosco</h3>
		<div>
			<label for="">Nome</label>
			<input type="text" class="form-control">
		</div>
		<div>
			<label for="">Qtd Pessoas</label>
			<input type="text" class="form-control">
		</div>
		<div>
			<label for="">Serviço</label>
			<input type="text" class="form-control">
		</div>
		<div>
			<label for="">Mensagem</label>
			<textarea class="form-control">
			</textarea>
		</div>
		<div>
			<button class="success btn btn-success">Enviar</button>
		</div>
	</div>
	<div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
		<h3>Telefone</h3>
		<p>(21) 3681-8324 - Fixo</p>
		<p>(21) 8324-4001 - Claro</p>
		<p>(21) 8546-3413 - Tim</p>
		<p>Email: degustecrepes@hotmail.com</p>
	</div>
</div>